{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% if not cred.id %}
    {% trans "Create credential" %}
  {% else %}
    {% trans "Update credential" %}: {{ cred.title }}
  {% endif %}
{% endblock %}

{% block content %}

{% if cred.id %}
<h2>
  {{ cred.title }}
</h2>
{% endif %}

  <form class="pt-2" enctype="multipart/form-data" autocomplete="off" action="{{ action }}" method="post">{% csrf_token %}
    
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="{{ form.project.html_name }}">{{ form.project.label }}</label>
      </div>
      {{ form.project }}
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="{{ form.title.html_name }}">{{ form.title.label }}</label>
      </div>
      {{ form.title }}
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="{{ form.url.html_name }}">{{ form.url.label }}</label>
      </div>
      {{ form.url }}
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="{{ form.username.html_name }}">{{ form.username.label }}</label>
      </div>
      {{ form.username }}
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="{{ form.password.html_name }}">{{ form.password.label }}</label>
        <button class="btn btn-sm btn-primary" type="button" id="button-addon1"><i class="fas fa-redo"></i></button>
      </div>
      {{ form.password }}
    </div>

    {{ form.description }}

  </form>

{% endblock %}

