{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load cred_markdown %}
{% load credicons %}

{% block title %}{{ cred.title }} - {% trans "Rattic" %}{% endblock %}

{% block headarea %}
  <meta name="rattic_cred_id" content="{{ cred.id }}" />
{% endblock %}

{% block content %}

{% if delete %}
  <div class="alert alert-danger mt-2" role="alert">
    {% blocktrans %}You are about to delete this password. A staff member will be required if you want to undelete it.{% endblocktrans %}
  </div>
{% endif %}
{% if cred.is_deleted and cred.is_latest %}
  <div class="alert alert-danger mt-2" role="alert">
    {% blocktrans %}This credential has been deleted and is in the trash can. It is only visible to staff. You can alter it if you wish, its history will still be recorded. Click the undelete button to restore it. If you click the Delete Permanently button then the password, its entire history and all its audit logs will be removed.{% endblocktrans %}
  </div>
{% endif %}
{% if not cred.is_latest %}
  <div class="alert alert-info mt-2" role="alert">
    <strong>{% trans "Hey there!" %}</strong>
    {% blocktrans %}This credential is an historical version.{% endblocktrans %} <a href="{% url 'cred:cred_detail' cred.latest.id %}">{% trans "Click here" %}</a> {% blocktrans %}to see the latest version.{% endblocktrans %}
  </div>
{% endif %}
{% if cred.on_changeq and not readonly %}
  <div class="alert alert-warning mt-2" role="alert">
    <strong>{% trans "Change Required" %}</strong>
    {% blocktrans %}This credential is on the change queue and should have its password changed as soon as possible.{% endblocktrans %} {% trans "Why not" %} <a href="{% url "cred:cred_edit" cred.id %}">{% trans "do it now" %}</a>{% trans "?" %}
  </div>
{% endif %}
{% if cred.is_expired %}
  <div class="alert alert-warning mt-2" role="alert">
    <strong>{% trans "Hey there!" %}</strong>
    {% blocktrans %}  Looks like this credential is expired! So it should won`t work!{% endblocktrans %}
  </div>
{% endif %}

<div class="row pt-2">
  <div class="col-md-1 d-flex flex-wrap align-items-center">
    <img class="mx-auto d-block img-thumbnail" style="width: 128px;" alt="{% trans "RatticDB Logo" %}" src="{% static rattic_logo %}"/>
  </div>
  <div class="col-md-8">
    
    <div class="row align-items-center">
      <div class="col-md">
        <div class="well">
          <h2>{{ cred.title }}</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="well">
          {% if cred.project %}
            <h2><a href="{% url "cred:project_detail" cred.project.id %}" class="badge badge-primary">{{ cred.project.title }}</a></h2>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="well">
          {% if cred.url %}
            <a href="{{ cred.url }}">{{ cred.url }}</a>
          {% endif %}
        </div>
      </div>
    </div>

      <div class="row justify-content-md-left pt-2">
        <div class="col-sm">
          {% trans "Created" %} : {{ cred.created|date:"Y/m/d H:m:s" }}
        </div>
      </div>

      <div class="row justify-content-md-left">
        <div class="col-sm">
          {% trans "Updated" %} : {{ cred.created|date:"Y/m/d H:m:s" }}
        </div>
      </div>

  </div>
</div>

{% if cred.is_latest and not readonly %}
<div class="pb-2 pt-2 btn-group btn-group-sm" role="group" aria-label="credential-tools-buttons">
  <a class="btn btn-primary" href="{% url 'cred:cred_edit' cred.id %}" role="button">{% trans "Edit" %}</a>
  <a class="btn btn-secondary" href="{% url 'cred:cred_list' 'history' cred.id 'ascending' 'id' %}" role="button">{% trans "History" %}</a>
  {% if not delete %}
    <a class="btn btn-danger" href="{% url 'cred:cred_delete' cred.id %}" role="button">{% trans "Delete" %}</a>
  {% endif %}
  {% if not cred.is_deleted %}
    <a class="btn btn-info" href="{% url 'cred:cred_add_to_queue' cred.id %}" role="button">{% trans "Change Queue" %}</a>
  {% endif %}
  {% if cred.is_deleted and not undelete %}
    <a class="btn btn-success" href="{% url 'staff:cred_undelete' cred.id %}" role="button">{% trans "Undelete" %}</a>
  {% endif %}
</div>
{% endif %}

<div class="card mt-2">
  <div class="card-body">
    {% if cred.username %}
    <div class="row h-100 align-items-center pb-2">
      <div class="col-md-1 align-items-center"><b>{% trans "Username" %}</b></div>
      <div class="col-md-4">
        <div class="input-group input-group-sm">
          <input type="text" id="username-field" readonly class="form-control" aria-label="input-username" aria-describedby="input-buttons">
          <div class="input-group-append" id="input-buttons">
            <button class="btn btn-primary" type="button">copy</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}   
    {% if cred.password %}
    <div class="row h-100 align-items-center">
      <div class="col-md-1 align-items-center"><b>Password</b></div>
      <div class="col-md-4">
        <div class="input-group input-group-sm">
          <input type="password" id="password-field" readonly class="form-control" aria-label="input-password" aria-describedby="input-buttons">
          <div class="input-group-append" id="input-buttons">
            <button class="btn btn-secondary" type="button">view</button>
            <button class="btn btn-primary" type="button">copy</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% if cred.tags.all|length %}
<div class="card mt-2">
  <div class="card-body">
    <div class="row h-100 align-items-center pb-2">
      <div class="col-md">
        {% for t in cred.tags.all %}
          <a class="badge badge-primary" href="{% url 'cred:cred_list' 'tag' t.id %}">{{ t.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if cred.description|length %}
<div class="card mt-2">
  <div class="card-header">{% trans "Description" %}</div>
  <div class="card-body">
    {% if cred.descriptionmarkdown %}
      {% markdown_cred cred.description %}
    {% else %}
      {{ cred.description }}
    {% endif %}
  </div>
</div>
{% endif %}

{% if attachments %}
<div class="accordion mt-2" id="attachments-collapse">
  <div class="card">
    <div class="card-header" id="attachments-header" data-toggle="collapse" data-target="#attachments-collapse-body" aria-expanded="false" aria-controls="attachments-collapse-body">
      <b>{% trans "Attachments" %}</b>
      <span class="badge badge-pill badge-secondary pull-right">{{ attachments.all|length }}</span>
    </div>
    <!-- attachments-start -->
    <div id="attachments-collapse-body" class="collapse" aria-labelledby="attachments-header" data-parent="#attachments-collapse">
      <div class="card-body">
          <ul class="list-unstyled">
            {% for a in attachments.all %}
              <li>
                <a class="badge badge-primary mt-2 ml-2" href="{% url 'cred:download_attachment' a.id %}" role="button">{{ a.filename }}</a>
              </li>
            {% endfor %}
          </ul>
      </div>
    </div>
    <!-- attachments-end -->
  </div>
</div>
{% endif %}

<div class="accordion mt-2" id="permissions-collapse">
  <div class="card">
    <div class="card-header" id="permissions-header" data-toggle="collapse" data-target="#permissions-collapse-body" aria-expanded="false" aria-controls="permissions-collapse-body">
      <b>{% trans "Permissions" %}</b>
    </div>
    <!-- permissions-start -->
    <div id="permissions-collapse-body" class="collapse" aria-labelledby="permissions-header" data-parent="#permissions-collapse">
      <div class="card-body">

      <!-- owner -->
      <div class="row justify-content-md-left">
        <div class="col col-md-2">
          {% if cred.group in groups.all or user.is_staff %}
            <a href="{% url 'cred:cred_list' 'group' cred.group.id %}">{{ cred.group.name }}</a>
          {% else %}
            {{ cred.group.name }}
          {% endif %}
        </div>
        <div class="col-sm-1">
          <span class="badge badge-pill badge-danger">Write</span>
        </div>
        <div class="col-sm-1">
          <span class="badge badge-pill badge-primary">Read</span>
        </div>
        <div class="col-sm-1">
          <span class="badge badge-pill badge-primary">List</span>
        </div>
      </div>

      <!-- group view -->
      {% for g in cred.groups.all %}
        <div class="row justify-content-md-left">
          <div class="col col-md-2">
            {% if user.is_staff %}
              <a href="{% url 'cred:cred_list' 'group' g.id %}">{{ g.name }}</a>
            {% else %}
              {{ g.name }}
            {% endif %}
          </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-1">
          <span class="badge badge-pill badge-primary">Read</span>
        </div>
        <div class="col-sm-1">
          <span class="badge badge-pill badge-primary">List</span>
        </div>
      </div>
      {% endfor %}

      {% if cred.users|length %}
        <hr>
      {% endif %}

      <!-- users view -->
      {% for u in cred.users.all %}
        <div class="row justify-content-md-left">
          <div class="col col-md-2">
            {% if user.is_staff %}
              <a href="{% url 'cred:cred_list' 'user' u.id %}">{{ u.username }}</a>
            {% else %}
              {{ u.username }}
            {% endif %}
          </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-1">
          <span class="badge badge-pill badge-primary">Read</span>
        </div>
        <div class="col-sm-1">
          <span class="badge badge-pill badge-primary">List</span>
        </div>
      </div>
      {% endfor %}


      </div>
    </div>
    <!-- permissions-end -->
  </div>
</div>

<!-- Audit logs -->
{% if not delete %}
  {% if credlogs %}
    {% include "cred_audit_list.html" with type='user' %}
  {% endif %}
{% endif %}


{% comment %} {% if delete %}
  <form action="" method="post">{% csrf_token %}
    <input type="submit" class="btn btn-danger" value="{% trans "Delete" %}" />
  </form>
{% endif %}

{% if undelete %}
  <form action="" method="post">{% csrf_token %}
    <input type="submit" class="btn btn-success" value="{% trans "Undelete" %}" />
  </form>
{% endif %} {% endcomment %}

{% endblock %}
