{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load cred_markdown %}

{% block title %}{{ cred.title }} - {% trans "Rattic" %}{% endblock %}

{% block headarea %}
  <meta name="rattic_cred_id" content="{{ cred.id }}" />
{% endblock %}

{% block content %}

{% if cred.is_deleted and cred.is_latest %}
  <div class="alert alert-danger mt-2" role="alert">
    {% blocktrans %}This credential has been deleted and is in the trash can. It is only visible to staff. You can alter it if you wish, its history will still be recorded. Click the undelete button to restore it. If you click the Delete Permanently button then the password, its entire history and all its audit logs will be removed.{% endblocktrans %}
  </div>
{% endif %}
{% if not cred.is_latest %}
  <div class="alert alert-info mt-2" role="alert">
    <strong>{% trans "Hey there!" %}</strong>
    {% blocktrans %}This credential is an historical version.{% endblocktrans %} <a href="{% url 'cred:cred_detail' cred.latest.id %}">{% trans "Click here" %}</a> {% blocktrans %}to see the latest version.{% endblocktrans %}
  </div>
{% endif %}
{% if cred.on_changeq and not readonly %}
  <div class="alert alert-warning mt-2" role="alert">
    <strong>{% trans "Change Required" %}</strong>
    {% blocktrans %}This credential is on the change queue and should have its password changed as soon as possible.{% endblocktrans %} {% trans "Why not" %} <a href="{% url "cred:cred_edit" cred.id %}">{% trans "do it now" %}</a>{% trans "?" %}
  </div>
{% endif %}
{% if cred.is_expired %}
  <div class="alert alert-warning mt-2" role="alert">
    <strong>{% trans "Hey there!" %}</strong>
    {% blocktrans %}  Looks like this credential is expired! So it should won`t work!{% endblocktrans %}
  </div>
{% endif %}

<div class="row pt-2 col-md">
  <div class="col-md-1 d-flex flex-wrap align-items-center">
    <img class="mx-auto d-block img-thumbnail" style="width: 128px;" alt="{% trans "RatticDB Logo" %}" src="{% static rattic_logo %}"/>
  </div>

  <div class="col-md-8">
    <div class="row align-items-center">
      <div class="col-md">
        <div class="well">
          <h2>{{ cred.title }}</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="well">
          {% if cred.project %}
            <h2><a href="{% url "cred:project_detail" cred.project.id %}" class="badge badge-primary">{{ cred.project.title }}</a></h2>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="well">
          {% if cred.url %}
            <a href="{{ cred.url }}">{{ cred.url }}</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row justify-content-md-left pt-2">
      <div class="col-sm">
        <b>{% trans "Created" %}</b> : {{ cred.created|date:"Y/m/d H:m" }}
      </div>
    </div>  
    <div class="row justify-content-md-left">
      <div class="col-sm">
        <b>{% trans "Updated" %}</b> : {{ cred.created|date:"Y/m/d H:m" }}
      </div>
    </div>
    {% if cred.tags.all|length %}
    <div class="row justify-content-md-left">
      <div class="col-sm">
        <b>{% trans "Tags" %}</b> : 
        {% for t in cred.tags.all %}
          <a class="badge badge-secondary" href="{% url 'cred:cred_list' 'tag' t.id %}">{{ t.name }}</a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% if cred.is_latest and not readonly %}
<div class="pb-2 pt-2 btn-group btn-group-sm" role="group" aria-label="credential-tools-buttons">
  <a class="btn btn-primary" href="{% url 'cred:cred_edit' cred.id %}" role="button">{% trans "Edit" %}</a>
  <a class="btn btn-success" href="{% url 'cred:cred_list' 'history' cred.id 'ascending' 'id' %}" role="button">{% trans "History" %}</a>
  {% if not cred.is_deleted %}
    <button class="btn btn-danger" id="delete-credential-button" role="button">{% trans "Delete" %}</button>
  {% endif %}
  {% if not cred.is_deleted %}
    <a class="btn btn-info" href="{% url 'cred:cred_add_to_queue' cred.id %}" role="button">{% trans "Change Queue" %}</a>
  {% endif %}
  {% if cred.is_deleted and not undelete %}
    <button class="btn btn-danger" id="undelete-credential-button" role="button">{% trans "Undelete" %}</button>
  {% endif %}
</div>
{% endif %}

<div class="card mt-2">
  <div class="card-body">
    {% if cred.username %}
    <div class="row align-items-center pb-2">
      <div class="col-md-1 align-items-center"><b>{% trans "Username" %}</b></div>
      <div class="col-md-4">
        <div class="input-group input-group-sm">
          <input type="text" id="username-field" value="{{ cred.username }}" readonly class="form-control" aria-label="input-username" aria-describedby="input-buttons">
          <div class="input-group-append" id="input-buttons">
            <button class="btn btn-primary" id="copy-username-button" type="button" data-clipboard-target="#username-field">copy</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if cred.password %}
      <button style="display: none;" id="copy-password-button-hidden" type="button" data-clipboard-target="#password-field"></button>
      <div class="row align-items-center">
        <div class="col-md-1 align-items-center"><b>Password</b></div>
        <div class="col-md-4">
          <div class="input-group input-group-sm">
            <input type="password" id="password-field" value="all-passwords-are-encrypted" readonly class="form-control" aria-label="input-password" aria-describedby="input-buttons">
            <div class="input-group-append" id="credentials-input-buttons">
              <button class="btn btn-info"id="show-password-field-button" type="button">view</button>
              <button class="btn btn-primary"id="copy-password-button" type="button">copy</button>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>


{% if cred.description|length %}
<div class="accordion mt-2" id="description-collapse">
  <div class="card">
    <div class="card-header" id="description-header" data-toggle="collapse" data-target="#description-collapse-body" aria-expanded="true" aria-controls="description-collapse-body">
      <b>{% trans "Description" %}</b>
    </div>
    <div id="description-collapse-body" class="collapse show" aria-labelledby="attachments-header" data-parent="#description-collapse">
      <div class="card-body">
        {% markdown_cred cred.description %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if attachments %}
<div class="accordion mt-2" id="attachments-collapse">
  <div class="card">
    <div class="card-header" id="attachments-header" data-toggle="collapse" data-target="#attachments-collapse-body" aria-expanded="false" aria-controls="attachments-collapse-body">
      <b>{% trans "Attachments" %}</b>
      <span class="badge badge-pill badge-secondary pull-right">{{ attachments.all|length }}</span>
    </div>
    <div id="attachments-collapse-body" class="collapse" aria-labelledby="attachments-header" data-parent="#attachments-collapse">
      <div class="card-body">
          <ul class="list-unstyled">
            {% for a in attachments.all %}
              <li>
                <a class="btn btn-outline-primary btn-sm mt-2 ml-2" href="{% url 'cred:download_attachment' a.id %}" role="button">
                  <img height="24px" src="{{ a.get_icon }}">
                  {{ a.filename }}
                </a>
              </li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="accordion mt-2" id="permissions-collapse">
  <div class="card">
    <div class="card-header" id="permissions-header" data-toggle="collapse" data-target="#permissions-collapse-body" aria-expanded="false" aria-controls="permissions-collapse-body">
      <b>{% trans "Permissions" %}</b>
    </div>
    <!-- permissions-start -->
    <div id="permissions-collapse-body" class="collapse" aria-labelledby="permissions-header" data-parent="#permissions-collapse">
      <div class="card-body">

      <!-- owner -->
      <div class="row justify-content-md-left">
        <div class="col col-md-2">
          {% if cred.group in groups.all or user.is_staff %}
            <a href="{% url 'cred:cred_list' 'group' cred.group.id %}">{{ cred.group.name }}</a>
          {% else %}
            {{ cred.group.name }}
          {% endif %}
        </div>
        <div class="col-sm-1">
          <span class="badge badge-pill badge-danger">Write</span>
        </div>
        <div class="col-sm-1">
          <span class="badge badge-pill badge-primary">Read</span>
        </div>
        <div class="col-sm-1">
          <span class="badge badge-pill badge-primary">List</span>
        </div>
      </div>

      <!-- group view -->
      {% for g in cred.groups.all %}
        <div class="row justify-content-md-left">
          <div class="col col-md-2">
            {% if user.is_staff %}
              <a href="{% url 'cred:cred_list' 'group' g.id %}">{{ g.name }}</a>
            {% else %}
              {{ g.name }}
            {% endif %}
          </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-1">
          <span class="badge badge-pill badge-primary">Read</span>
        </div>
        <div class="col-sm-1">
          <span class="badge badge-pill badge-primary">List</span>
        </div>
      </div>
      {% endfor %}

      {% if cred.users|length %}
        <hr>
      {% endif %}

      <!-- users view -->
      {% for u in cred.users.all %}
        <div class="row justify-content-md-left">
          <div class="col col-md-2">
            {% if user.is_staff %}
              <a href="{% url 'cred:cred_list' 'user' u.id %}">{{ u.username }}</a>
            {% else %}
              {{ u.username }}
            {% endif %}
          </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-1">
          <span class="badge badge-pill badge-primary">Read</span>
        </div>
        <div class="col-sm-1">
          <span class="badge badge-pill badge-primary">List</span>
        </div>
      </div>
      {% endfor %}

      </div>
    </div>
    <!-- permissions-end -->
  </div>
</div>

<!-- Audit logs -->
{% if not delete %}
  {% if credlogs %}
    {% include "cred_audit_list.html" with type='user' %}
  {% endif %}
{% endif %}


<!-- delete\undelete modal window -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-action-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-action-label">title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        text
      </div>
      <div class="modal-footer">
        <form id="delete-modal-form" action="" method="post">{% csrf_token %}
          <button type="submit" class="btn btn-danger">Action</button>
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="pb-2">
</div>
{% endblock %}