{% extends "base.html" %}
{% load custom_tags %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Credentials" %}{% endblock %}

{% block content %}

{% for alert in alerts %}
  <div class="alert alert-{{ alert.type }}" role="alert">{{ alert.message }}</div>
{% endfor %}

<div class="table-responsive">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th class="d-none d-sm-table-cell" style="width: 35%">
          {% if sort == 'title' %}
            <a href="{% url "cred:cred_list" filter value revsortdir 'title' page %}">{% trans "Title" %}</a>
          {% else %}
            <a href="{% url "cred:cred_list" filter value sortdir 'title' page %}">{% trans "Title" %}</a>
          {% endif %}
        </th>
        <th class="d-none d-sm-table-cell">
          {% if sort == 'username' %}
            <a href="{% url 'cred:cred_list' filter value revsortdir 'username' page %}">{% trans "User" %}</a>
          {% else %}
            <a href="{% url 'cred:cred_list' filter value sortdir 'username' page %}">{% trans "User" %}</a>
          {% endif %}
        </th>
        <th  class="d-none d-sm-table-cell">
          {% if sort == 'group' %}
            <a href="{% url 'cred:cred_list' filter value revsortdir 'group' page %}">{% trans "Owner" %}</a>
          {% else %}
            <a href="{% url 'cred:cred_list' filter value sortdir 'group' page %}">{% trans "Owner" %}</a>
          {% endif %}
        </th>
        <th class="d-none d-sm-table-cell">
          {% trans "Viewer" %}
        </th>
        <th class="d-none d-sm-table-cell">
          {% trans "Tags" %}
        </th>
      </tr>
    </thead>
    
    <tbody>
      {% for c in credlist %}
      <tr class="{% if c.on_changeq or c.is_expired %}table-secondary{% endif %} {% if not c.is_latest %}table-info{% endif %}">
        <td>
          <a href="{% url "cred:cred_detail" c.id %}">
            <img class="pr-2" style="width: 32px;" 
              {% if c.icon %}
                src="data:image/png;base64,{{ c.icon.icon | decode_utf8 }}"
              {% else %}
                src="{% static "rattic/img/credential-default.png" %}"
              {% endif %}
            >
            {{ c.title|default:"No Title" }}
          </a>
        </td>
        <td class="d-none d-sm-table-cell">
          {{ c.username }}
        </td>
        <td class="d-none d-sm-table-cell">
          {% if c.group in groups.all %}
            <a href="{% url "cred:cred_list" "group" c.group.id %}">{{ c.group.name }}</a>
          {% else %}
            {{ c.group.name }}
          {% endif %}
        </td>
        <td class="d-none d-sm-table-cell">
          {% for g in c.groups.all %}
            {% if g in groups.all %}
              <a href="{% url "cred:cred_list" "group" g.id %}">{{ g.name }}</a>
            {% else %}
              {{ g.name }}
            {% endif %}
          {% endfor %}
        </td>
        <td class="d-none d-sm-table-cell">
          {% for t in c.tags.all %}
            <a class="badge badge-primary" href="{% url "cred:cred_list" "tag" t.id %}">{{ t.name }}</a>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- paginator start -->
<nav aria-label="pagination">
  <ul class="pagination justify-content-center">
    <!--paginator  previous button-->
    <li class="page-item {% if not credlist.has_previous %} disabled {% endif %}">
        <a class="page-link"
      {% if credlist.has_previous %}
        href="{% url "cred:cred_list" filter value sortdir sort credlist.previous_page_number %}"
      {% else %}
        href="#"
      {% endif %}
      aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">{% trans "Prev" %}</span>
      </a>
    </li>

    <!--paginator pages button-->
    {% for p in  credlist.paginator.page_range %}
        {% if p <= credlist.number|add:20 and p >= credlist.number|add:-10 %}
          {% if credlist.number == p %}
            <li class="d-none d-sm-block page-item active"><a class="page-link" href="#"><b>{{ forloop.counter }}</b></a></li>
          {% else %}
            <li class="d-none d-sm-block page-item">
              <a class="page-link" href="{% url "cred:cred_list" filter value sortdir sort forloop.counter %}">{{ forloop.counter }}</a>
            </li>
          {% endif %}
        {% endif %}
    {% endfor %}
    
    <!--paginator next button-->
    <li class="page-item {% if not credlist.has_next %} disabled {% endif %}">
        <a class="page-link"
      {% if credlist.has_next %}
        href="{% url "cred:cred_list" filter value sortdir sort credlist.next_page_number %}"
      {% else %}
        href="#"
      {% endif %}
      aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">{% trans "Next" %}</span>
      </a>
    </li>

  </ul>
</nav>

{% endblock %}

