/* favorites bar */

#content-wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#content-wrapper.disabled {
    padding-left: 250px;
}

#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    /* overflow-y: auto; */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#content-wrapper.disabled #sidebar {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#content-wrapper.disabled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

@media(min-width:768px) {
    #content-wrapper {
        padding-left: 250px;
    }

    #content-wrapper.disabled {
        padding-left: 0;
    }

    #sidebar {
        width: 250px;
    }

    #content-wrapper.disabled #sidebar {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #content-wrapper.disabled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* custom thin styles */
.favorites-card {
    border-radius: 0px;
    border: 1px solid rgba(0,0,0,.125);
    border-left: 0px;
}

.no-links {
    text-decoration: none;
      -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.favorites-list a {
    text-decoration: none;
      -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.no-margin-right {
    margin:0px;
}

.alert-sm {
    padding: .3rem .5rem;
    margin-bottom: .2rem
}

.card-body-sm {
    padding: .8rem .8rem;
}

.card-header-sm {
    padding: .3rem .8rem;
}

#attachments-header, #description-header, #permissions-header, #audit-logs-header  {
    margin-bottom: 0px
}

.badge-big {
    padding: .45em;
}

/* disable up-down arrows in a numbers imput type */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* disable text selection for a different browsers */
.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* cred_detail.html */
#password-field, #username-field {
    background-color: white;
}

/* cred_edit.html */
.CodeMirror {
    height: 200px;
}

.cred-image {
    padding: 0;
}

.form-control-small {
    height: calc(1em + .75rem + 2px);
}

.cred-card-attachment {
    border:0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0, .125);
    border-left: 1px solid rgba(0,0,0, .125);
    border-right: 1px solid rgba(0,0,0, .125);
}

/* overwrite mde styles */
.CodeMirror, .CodeMirror-scroll {
    min-height: 100px;
}

/* overwrite selectize styles */
.selectize-control.multi .selectize-input > div {
    background: #007bff;
    color:#fff;
    border: 0px solid #fff;
    padding: 1px 4px;
}

.selectize-control.multi .selectize-input > div.active {
    background: #007bff;
    color: #fff;
    border: 0px solid #fff;
}

.selectize-control.plugin-remove_button [data-value] .remove {
    border-left: 1px solid #fff;
}

