/* favorites bar */

#content-wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#content-wrapper.enabled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#content-wrapper.enabled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#content-wrapper.enabled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

@media(min-width:768px) {
    #content-wrapper {
        padding-left: 250px;
    }

    #content-wrapper.enabled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #content-wrapper.enabled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #content-wrapper.enabled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* custom thin styles */
.alert {
    padding: .3rem .5rem;
    margin-bottom: .2rem
}

.card-body {
    padding: .8rem .8rem;
}

.card-header {
    padding: .3rem .8rem;
}

#attachments-header, #description-header, #permissions-header, #audit-logs-header  {
    margin-bottom: 0px
}

/* cred_detail.html */
#password-field, #username-field {
    background-color: white;
}

