{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="alert alert-success mt-2" role="alert">
  <b>{% trans "Audit access logs" %}:</b>
  {% if by == 'user' %}
    <a href="{% url 'staff:user_detail' audit_item.id %}">{{ audit_item.username }}</a>
  {% elif by == 'cred' %}
    <a href="{% url 'cred:cred_detail' audit_item.id %}">{{ audit_item.title }}</a>
  {% endif %}
</div>

<div class="table-responsive pt-2">
  <table class="table table-sm table-hover">

    <tr>
      <th>{% trans "Action" %}</th>
      {% if by != 'user' %}
        <th>{% trans "User" %}</th>
      {% endif %}
      {% if by != 'cred' %}
      <th>{% trans "Credential" %}</th>
      {% endif %}
      <th>{% trans "When" %}</th>
    </tr>

    {% for audit in audit_logs %}
      <tr>
        <td>{{ audit.get_audittype_display }}</td>
        {% if by != 'user' %}
          <td><a href="{% url 'staff:user_detail' audit.user.id %}">{{ audit.user.username }}</a></td>
        {% endif %}
        {% if by != 'cred' %}
          <td><a href="{% url 'cred:cred_detail' audit.cred.id %}">{{ audit.cred.title }}</a></td>
        {% endif %}
        <td>{{ audit.time }}</td>
      </tr>
    {% endfor %}

  </table>
</div>

{% block paginator %}
  {% include "paginator.html" with itemlist=audit_logs %}
{% endblock %}


{% endblock %}
