{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{% trans "CryptoRatt" %}{% endblock %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static "favicon.ico" %}" rel="shortcut icon">
  <link href=
  {% if user.is_authenticated %}
    "{% get_static_prefix %}/bootstrap/css/{{ user.profile.theme }}"
  {% else %}
    "{% static "bootstrap/css/bootstrap.default.min.css" %}"
  {% endif %}
   rel="stylesheet" media="screen">
  <link href="{% static "font-awesome/css/fontawesome.min.css" %}" rel="stylesheet" media="screen">
  <link href="{% static "font-awesome/css/regular.min.css" %}" rel="stylesheet" media="screen">
  <link href="{% static "font-awesome/css/solid.min.css" %}" rel="stylesheet" media="screen">
  <link href="{% static "selectize/css/selectize.bootstrap4.css" %}" rel="stylesheet" media="screen">
  <link href="{% static "simple-mde/simplemde.min.css" %}" rel="stylesheet" media="screen">
  <link href="{% static "rattic/css/custom.css" %}" rel="stylesheet">
  {% block customheader %}
  {% endblock %}
</head>

<body>
  <div
    {% if not request.COOKIES.disable_favorites %}
      class="d-flex"
    {% else %}
      class="d-flex disabled"
    {% endif %}
    {% if user.is_authenticated %} 
      id="content-wrapper"
    {% endif %}
  >
    {% if user.is_authenticated %}
        {% include "sidebar.html" %}
    {% endif %}

    <div id="page-content-wrapper">
      {% if user.is_authenticated %}
        {% include "navbar.html" %}
      {% endif %}

      <div class="container col-lg-12 col-sm-12 pr-2">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
  <script type="application/javascript" src="{% static "jquery/jquery.min.js" %}"></script>
  <script type="application/javascript" src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script type="application/javascript" src="{% static "rattic/js/base.js" %}"></script>
  {% block customjs %}{% endblock %}
</body>
</html>
