{% load static from staticfiles %}
{% load url_root from ratticweb %}

{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{% trans "Rattic" %}{% endblock %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="rattic_url_root" content="{% url_root %}" />
  {% if user.is_staff and USE_LDAP_GROUPS %}
    <meta name="rattic_user_staff" content="true" />
  {% else %}
    <meta name="rattic_user_staff" content="false" />
  {% endif %}
  
  {% block headarea %}
  {% endblock %}

  <link href="{% static "bootstrap/css/bootstrap.default.min.css" %}" rel="stylesheet" media="screen">
  <link href="{% static "open-iconic/css/open-iconic-bootstrap.min.css" %}" rel="stylesheet" media="screen">
  <link href="{% static "rattic/css/custom.css" %}" rel="stylesheet">
  <link href="{% static "selectize/css/selectize.css" %}" rel="stylesheet" media="screen">
  <link href="{% static "rattic/css/icons.css" %}" rel="stylesheet" media="screen">
  <link href="{% static "favicon_new.ico" %}" rel="shortcut icon">
</head>
<body>
  
  <div class="d-flex" {% if user.is_authenticated %} id="content-wrapper" {% endif %}>
    {% if user.is_authenticated %}
      {% include "sidebar.html" %}
    {% endif %}

    <div id="page-content-wrapper">
      {% if user.is_authenticated %}
        {% include "navbar.html" %}
      {% endif %}

      <div class="container col-lg-12 col-sm-12 pr-2">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>

  <script type="application/javascript" src="{% static "jquery/jquery.min.js" %}"></script>
  <script type="application/javascript" src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script type="application/javascript" src="{% static "selectize/js/selectize.min.js" %}"></script>
  <script type="application/javascript" src="{% static "sjcl/sjcl.js" %}"></script>
  <script type="application/javascript" src="{% static "rattic/js/newcore.js" %}"></script>
  
  <script type="application/javascript" src="{% static "clipboard/clipboard.min.js" %}"></script>
  <script type="application/javascript" src="{% static "rattic/js/cred_details.js" %}"></script>

</body>
</html>
