{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block content %}

{% if form.errors %}
    <div id="loginfailed" class="alert alert-error">
        {% blocktrans %}Your username and password didn't match. Please try again.{% endblocktrans %}
    </div>
{% endif %}

<div class="row justify-content-center align-items-center">
  <div class="col mx-auto">
    <h1 class="text-center" style="padding: 16px">{% trans "Welcome to CryptoRatt" %}</h1>
    <img class="mx-auto d-block" style="width: 256px;" alt="{% trans "RatticDB Logo" %}" src="{% static rattic_logo %}"/>
  </div> 
</div>

{% if SAML_ENABLED %}
<div class="row justify-content-center align-items-center" style="padding: 32px">
  <div class="col-md text-center">
    <a class="btn btn-primary" href="{{SAML_IDP_URL}}" >Login by SSO</a>
  </div>
</div>
{% endif %}

{% if not SAML_ENABLED or DEBUG_ENABLED %}
<div class="row justify-content-center align-items-center" style="padding: 32px">
  <div class="col-md-4">
    
    <form method="post" action="{% url "account:login" %}?next={{ next|default:"" }}">{% csrf_token %}
      <div class="form-group">
        <input class="form-control" id="id_username" type="text" name="auth-username" maxlength="30" placeholder="Username"/>
        </br>
        <input class="form-control" type="password" name="auth-password" id="id_password" placeholder="Password"/>
        </br>
    
        <input type="submit" class="btn btn-primary col-12" value="{% trans "Login" %}"/>
        {% if LDAP_ENABLED == False and SAML_ENABLED == False %}
          <p><a href="{% url "account:password_reset" %}">{% trans "Forgotten password?" %}</a></p>
        {% endif %}     
        <input type="hidden" name="rattic_tfa_login_view-current_step" value="auth" />
    
      </div>
    </form>

  </div>  
</div>
{% endif %}

{% endblock %}