{% load static from staticfiles %}
{% load i18n %}

<div class="bg-light d-none d-sm-block" id="sidebar">
 <div class="accordion" id="accordionExample">
 
  <div class="card favorites-card">
    <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
      <h6 class="mb-0">Projects</h6>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card favorites-card">
    <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      <h6 class="mb-0">Credentials</h6>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card favorites-card">
    <div class="card-header" id="collapse-groups-header" data-toggle="collapse" data-target="#collapse-groups" aria-expanded="false" aria-controls="collapse-groups">
      <h6 class="mb-0">Groups</h6>
    </div>
    <div id="collapse-groups" class="collapse" aria-labelledby="collapse-groups-header" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-unstyled favorites-list">
        {% for g in user.groups.all %}
          <a href="{% url "cred:cred_list" "group" g.id %}">
            <li>
              <i class="fas fa-minus"></i> {{ g.name }}
            </li>
          </a>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="card favorites-card">
    <div class="card-header" id="collapse-tags-header" data-toggle="collapse" data-target="#collapse-tags" aria-expanded="false" aria-controls="collapse-tags">
      <h6 class="mb-0">Tags</h6>
    </div>
    <div id="collapse-tags" class="collapse" aria-labelledby="collapse-tags-header" data-parent="#accordionExample">
      <div class="card-body">
        <ul class="list-unstyled favorites-list">
        {% for tag in user.profile.favourite_tags.all %}
          <a href="{% url "cred:cred_list" "tag" tag.id %}">
            <li>
              <i class="fas fa-minus"></i> {{ tag.name }}
            </li>
          </a>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>


</div>

</div>