django>=2.2.3
djangorestframework>=3.10.2
django-otp==0.5.2
django-tastypie==0.14.2
django-celery>=3.2.2
django-two-factor-auth==1.12
django-auth-ldap==1.7.0
python-ldap>=3.2.0
mozilla-django-oidc>=1.2.2
Markdown>=3.1
python-mimeparse>=1.6.0
python-dateutil>=2.8.0
configparser==3.7.4
