{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block content %}

<div class="container ">
  <div class="row ">
    <div class="col p-4">
      <img class="mx-auto d-block" width="256" alt="{% trans "RatticDB Logo" %}" src="{% static rattic_logo %}"/>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form action="" method="post">{% csrf_token %}
        {{ wizard.management_form }}

        {% for f in wizard.form %}
          <input class="form-control mb-2" type="{{ f.field.widget.input_type }}" placeholder="{{ f.name }}" name="{{ f.html_name }}" id="{{ f.id_for_label }}" autofocus required>
        {% endfor %}

        <div class="row pb-2">
          <div class="col">
            {% if wizard.steps.prev %}
              <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-block btn-secondary">{% trans "Back" %}</button>
            {% else %}
              <button disabled name="" type="button" class="btn btn-block btn-secondary">{% trans "Back" %}</button>
            {% endif %}
          </div>
          <div class="col">
            <button type="submit" class="btn btn-block btn-primary">{% trans "Next" %}</button>
          </div>
        </div>

        {% if LDAP_ENABLED == False %}
          <a role="button" class="btn btn-danger btn-block" href={% url 'account:password_reset' %}>{% trans "Forgot password?" %}</a>
        {% endif %}
        </form>

    </div>
  </div>
</div>

{% endblock %}