{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="row d-flex justify-content-center m-3">
  <div class="alert alert-danger" role="alert">
    {% blocktrans %}
      You are about to disable two-factor authentication. This compromises your account security, <b>are you sure?</b>
    {% endblocktrans %}
  </div>
</div>

<div class="row d-flex justify-content-center m-3">  

  <div class="col-md-2">
    <div class="custom-control custom-switch">
      <form method="post">{% csrf_token %}
        {% comment %}
        <div class="row d-flex justify-content-center">
          {% for f in form %}
            <input class="custom-control-input" type="{{ f.field.widget.input_type }}" name="{{ f.html_name }}" id="{{ f.id_for_label }}" {% if f.field %}checked{% endif %}>
            <label class="custom-control-label noselect" for="{{ f.id_for_label }}">{% trans '2FA' %}</label>
          {% endfor %}
        </div>
       {% endcomment %}
        <button class="btn btn-block btn-danger" type="submit">{% trans "Disable" %}</button>
      </form>
    </div>
  </div>

</div>

{% endblock %}
