{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="col-md-12 pt-2">
  <nav>
    <div class="nav nav-tabs " id="account-tabs" role="tablist">
      <a class="nav-item nav-link active" id="profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">{% trans 'Profile' %}</a>
      {% if user.is_staff %}
        <a class="nav-item nav-link" id="api-tab" data-toggle="tab" href="#nav-api" role="tab" aria-controls="nav-api" aria-selected="false">{% trans 'API Keys' %}</a>
      {% endif %}
      <a class="nav-item nav-link" id="sessions-tab" data-toggle="tab" href="#nav-sessions" role="tab" aria-controls="nav-sessions" aria-selected="false">{% trans 'Sessions' %}</a>
    </div>
  </nav>

  <div class="tab-content border-right border-left border-bottom">
    <!-- profile -->
    {% include "account_tab_profile.html" %}
    
    <!-- api keys -->
    {% if user.is_staff %}
      {% include "account_tab_apikeys.html" %}
    {% endif %}
    
    <!-- sessions -->
    {% include "account_tab_sessions.html" %}
  </div>
  
</div>
{% endblock %}

{% block customjs %}
  <script type="application/javascript" src="{% static "rattic/js/account_profile.js" %}"></script>
  <script type="application/javascript" src="{% static "selectize/js/selectize.min.js" %}"></script>
{% endblock %}
