{% load static %}
{% load custom_tags %}
{% load i18n %}

<div class="tab-pane fade" id="nav-api" role="tabpanel" aria-labelledby="api-tab">

  <div class="row p-4 no-margin-right">

    <div class="col-md-12">
      <div class="table-responsive">    
        <table class="table">
          <thead>
            <tr>
              <th>{% trans "Key Name" %}</th>
              <th>{% trans "Created" %}</th>
              <th colspan="2">{% trans "Expires" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for key in keys %}
              <tr>
                <td>{{ key.name }}</td>
                <td>{{ key.created|date:"Y/m/d H:m" }}</td>
                {% if key.has_expiry %}
                  <td>{{ key.expires|date:"Y/m/d H:m" }}</td>
                {% else %}
                  <td>{% trans "Never" %}</td>
                {% endif %}
                <td>
                  <a class="btn btn-sm btn-danger delete-apikey-button" data-keyid={{ key.id }} href="#" href="#">
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <div class="col pb-2">
    <a class="btn btn-primary btn-block" href="#" data-toggle="modal" data-target="#new-apikey-modal" role="button">{% trans "New API Key" %}</a>
  </div>

</div>

<!--- create new API key -->
<div class="modal fade" id="new-apikey-modal" tabindex="-1" role="dialog" aria-labelledby="new-apikey-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-apikey-modal-label">{% trans "Create new API key" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" placeholder="API key name" aria-label="API key name" id="new-apikey-input">
      </div>
      <div class="modal-footer">
        <button id="create-apikey-button" type="button" class="btn btn-primary">{% trans "Create" %}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
      </div>
    </div>
  </div>
</div>

<!--- delete API key -->
<div class="modal fade" id="delete-apikey-modal" tabindex="-1" role="dialog" aria-labelledby="delete-apikey-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-apikey-modal-label">{% trans "Delete API key" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% trans "Do you really want to delete this API key?" %}
      </div>
      <div class="modal-footer">
        <button id="delete-apikey-button" type="button" class="btn btn-danger">{% trans "Delete" %}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
      </div>
    </div>
  </div>
</div>
